@font-face {
	font-family: 'Conv_BLUNT';
	src: url('fonts/BLUNT.eot');
	src: local('☺'), url('fonts/BLUNT.woff') format('woff'), url('fonts/BLUNT.ttf') format('truetype'), url('fonts/BLUNT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Jellyka_Estrya_Handwriting';
	src: url('fonts/Jellyka_Estrya_Handwriting.eot');
	src: local('☺'), url('fonts/Jellyka_Estrya_Handwriting.woff') format('woff'), url('fonts/Jellyka_Estrya_Handwriting.ttf') format('truetype'), url('fonts/Jellyka_Estrya_Handwriting.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.frame_vid
{
	position:absolute;
	left:0px;
	top:0px;
	width:832px;
	height:468px;
}

#video_to_trak,#loop_intro,#loop_vid_cont
{
	position:absolute;
	left:0px;
	top:0px;
	width:832px;
	height:468px;
}

#menu_inicial
{
	position:absolute;
	width:600px;
	height:350px;	
	left:116px;
	top:59px;
	
}
#ipad_imgs
{
	display:none;
}
#fotoface1
{
	position:absolute;
	width:82px;
	height:84px;
	left:195px;
	top:170px;	
}
#fotoface2
{
	position:absolute;
	width:45px;
	height:45px;
	left:333px;
	top:72px;		
}
#fotoface3
{
	position:absolute;
	width:32px;
	height:32px;
	left:211px;
	top:400px;	
}
#fotoface4
{
	position:absolute;
	width:240px;
	height:240px;
	left:0px;
	top:22px;		
}

#fotoface4_contenedor
{
	position:absolute;
	width:250px;
	height:82px;
	left:477px;
	top:385px;
	overflow:hidden;
}
#ipad_mask{
	position:absolute;
	width:832px;
	height:467px;
	left:0px;
	top:0px;
	background-image:url(../img/ipad.png);
	
}
#btn_fb_login
{
	position:absolute;
	width:105px;
	height:45px;
	left:68px;
	top:264px;
	background:#FFFFFF;
	cursor:pointer;
}
#btn_cam_login
{
	position:absolute;
	width:105px;
	height:45px;
	left:252px;
	top:264px;
	background:#FFFFFF;
	cursor:pointer;
}
#btn_lineal
{
	position:absolute;
	width:105px;
	height:45px;
	left:435px;
	top:264px;
	background:#FFFFFF;
	cursor:pointer;
}

#select_ropa{
	display:none;
}
#btn_ropa1{
	position:absolute;
	width:128px;
	height:77px;
	left:104px;
	top:160px;
	background-image:url(../img/lftArrow.png);
	cursor:pointer;
}

#btn_ropa2{
	position:absolute;
	width:128px;
	height:77px;
	left:624px;
	top:160px;
	background-image:url(../img/rghArrow.png);
	cursor:pointer;
}

#menu_select{
	background-image:url(../img/pantalla.jpg);
	background-repeat:no-repeat;
	display:none;
}

#btn_millonario{
	position:absolute;
	width:111px;
	height:110px;
	left:222px;
	top:177px;	
	cursor:pointer;
	background-image:url(../img/ricoBtn.png);
	background-repeat:no-repeat;
}
#btn_fama{
	position:absolute;
	width:111px;
	height:110px;
	left:345px;
	top:177px;
	cursor:pointer;
	background-image:url(../img/famaBtn.png);
	background-repeat:no-repeat;	
}
#btn_irresistible{
	position:absolute;
	width:111px;
	height:110px;
	left:468px;
	top:177px;
	cursor:pointer;
	background-image:url(../img/irresistBtn.png);
	background-repeat:no-repeat;
}
#btn_salir{
	position:absolute;
	width:113px;
	height:31px;
	left:267px;
	top:293px;
	cursor:pointer;
	background-image:url(../img/salirBtn1.png);
	background-repeat:no-repeat;
}
#btn_compartir{
	position:absolute;
	width:133px;
	height:32px;
	left:377px;
	top:294px;
	cursor:pointer;
	background-image:url(../img/shareBtn.png);
	background-repeat:no-repeat;
	display:none;
}

.deseo_concedido{
	background-image:url(../img/concedido.png) !important;
	background-repeat:no-repeat;
}


#foto_millonario_contenedor1,#foto_millonario_contenedor2,#amigocel_contenedor
{
	display:none;
}

#marco1
{
	background-image:url(../img/marco1.png);
}
#marco2
{
	background-image:url(../img/marco2.png);
}


#foto_millonario1
{
	position:absolute;
	width:157px;
	height:103px;
	left:134px;
	top:267px;
}
#foto_millonario2
{
	position:absolute;
	width:160px;
	height:100px;
	left:583px;
	top:264px;
}


#cel_millonario
{
	background-image:url(../img/mensaje.png);
}
#foto_amigocel
{
	position:absolute;
	width:60px;
	height:60px;
	left:373px;
	top:151px;
}
#nombre_amigocel
{
	position:absolute;
	width:90px;
	height:40px;
	left:435px;
	top:185px;
	font-family:Helvetica,Gotham, "Helvetica Neue",Arial, sans-serif;
	font-weight:bold;
	font-size:15px;
	text-align:left;
}
#texto_amigocel
{
	position:absolute;
	width:135px;
	height:90px;
	left:360px;
	top:246px;
	padding-top:15px;
	font-family:Helvetica,Gotham, "Helvetica Neue",Arial, sans-serif;
	font-weight:normal;
	font-size:13px;
	text-align:center;
}

#select_escape{
	display:none;
}
#btn_escape1{
	position:absolute;
	width:194px;
	height:77px;
	left:50px;
	top:160px;
	background-image:url(../img/lftDir.png);
	cursor:pointer;
}
#btn_escape2{
	position:absolute;
	width:194px;
	height:77px;
	left:590px;
	top:160px;
	background-image:url(../img/rghDir.png);
	cursor:pointer;
}

#cont_letrero_fama{ display:none;}
#letrero_fama{
	position:absolute;
	width:339px;
	height:130px;
	left:127px;
	top:126px;
	font-family:'Conv_BLUNT',Sans-Serif;
	font-size:91px;
	color:#672012;
	text-align:center;
	text-transform:uppercase;
	text-shadow: 0px 0px 4px #703221;
	filter: dropshadow(color=#703221, offx=0, offy=0);	
}
#letrero2_fama
{
	position:absolute;
	width:339px;
	height:130px;
	left:127px;
	top:126px;
	font-family:'Conv_BLUNT',Sans-Serif;
	font-size:91px;
	text-align:center;
	text-transform:uppercase;
	
	color: white;  /* Fallback: assume this color ON TOP of image */
   	background: url(../img/texturaCartel.png) no-repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
#img_letrero_fama{
	position:absolute;
	width:339px;
	height:154px;
	left:105px;
	top:238px;
	background-image:url(../img/teamo.png);
}


#cont_foto_fama{ display:none;}
#mask_foto_fama
{
	position:absolute;
	width:362px;
	height:393px;
	left:402px;
	top:31px;
	background-image:url(../img/fotoFama.png);
	background-repeat:no-repeat;
}
#foto_fama
{
	position:absolute;
	width:225px;
	height:303px;
	left:504px;
	top:69px;
	
}


#cont_foto_playera{ display:none;}

#mask_foto_playera{
	
	position:absolute;
	width:531px;
	height:466px;
	left:130px;
	top:0px;
	background-image:url(../img/playera.png);
	background-repeat:no-repeat;	
}
#foto_playera
{
	position:absolute;
	width:223px;
	height:262px;
	left:293px;
	top:192px;	
}


#cont_foto_cartel{ display:none;}

#mask_foto_cartel{
	
	position:absolute;
	width:457px;
	height:441px;
	left:322px;
	top:27px;
	background-image:url(../img/cartel.png);
	background-repeat:no-repeat;	
}
#crop_foto_cartel
{
	position:absolute;
	width:350px;
	height:250px;
	left:387px;
	top:218px;
	overflow:hidden;
}
#foto_cartel
{
	position:absolute;
	width:300px;
	height:250px;
	left:67px;
	top:4px;
}
#text_foto_cartel{
	position:absolute;
	width:180px;
	height:55px;
	left:408px;
	top:78px;
	font-family: Helvetica,"Helvetica Neue",Gotham, Arial, sans-serif;
	font-size:37px;
	font-weight:bold;
	font-style:italic;
	text-transform:uppercase;
	color:#9E3B3B;
	letter-spacing:-4px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	text-align:left;
}
#cont_firma_fan{ display:none;

background-image:url(../img/roxy.jpg);}
#firma_fan
{
	position:absolute;
	width:300px;
	height:120px;
	left:250px;
	top:233px;
	
	font-family:'Conv_Jellyka_Estrya_Handwriting',Sans-Serif;
	font-size:180px;
	color:#252018;
	text-align:center;
	text-transform:capitalize;
	line-height:130px;
	text-shadow: 0px 0px 3px #252018;
	filter: dropshadow(color=#252018, offx=0, offy=0);
}
#firma2_fan
{
	position:absolute;
	width:300px;
	height:120px;
	left:250px;
	top:233px;
	
	font-family:'Conv_Jellyka_Estrya_Handwriting',Sans-Serif;
	font-size:180px;
	color:#252018;
	text-align:center;
	text-transform:capitalize;	
	color: white;  /* Fallback: assume this color ON TOP of image */
   	background: url(../img/firmaBck.png) no-repeat;
	line-height:130px;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;	
}

#txt_conteo{
	position:absolute;
	width:100px;
	height:100px;
	left:367px;
	top:100px;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: Helvetica,"Helvetica Neue",Gotham, Arial, sans-serif;
	font-size:80px;
	font-style:inherit;
	font-weight:bold;	
	color:#FFFFFF;
	display:none;	
}


#net_err
{
	position:absolute;
	width:278px;
	height:118px;
	left:277px;
	top:175px;
	background-image:url(../img/conexion.png);
	display:none;
	
}
#loading_err
{
	position:absolute;
	width:31px;
	height:31px;
	left:29px;
	top:44px;
	background-image:url(../img/loader.gif);

}





/* css para el componente que muestas los textos*/
.info_text
{
	position:absolute;	
	width:110%;
	height:0px;
	left:0px;
	bottom:0px;
	overflow:hidden;
	font-family: 'Open Sans', sans-serif;
	color:#FFF;		
	
}
.text_izq
{
	display:inline;
	float:left;
	width:40%;
	height:0px;
}
.text_der
{
	display:inline;
	float:left;
	width:40%;
	height:0px;
}
.central_img
{
	display:inline;
	float:left;
	width:20%;
	height:0px;
}


/*texts styles*/
.textCenter {
	text-align: center;
	color: #fff;
	margin:5px 10px;
	line-height:20px !important;
}
.textCenter h1, .txtLft h1 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight:300;
	font-style: italic;
	margin:0;
	line-height:30px !important;
}
.textCenter h2, .txtLft h2 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight:300;
	font-style: italic;
	margin:0 0 5px;
	line-height:20px !important;
}
.textCenter p, .txtLft p{
	text-transform: uppercase;
	font-size: 10px;
	font-weight:300;
	font-style: italic;
	margin:0;
	line-height:10px !important;
}
.txtLft {
	color:#fff;
	margin:5px 10px;
	text-align:left;
}
.txtLft img {
	float:left;
	margin:0 0 20px;
	display:block;
}

/*QRC styles*/
.qrc {
	position:absolute;
	width:334px;
	left:45px;
	top:25px;	
	font-family: 'Open Sans', sans-serif;
	background:#000;
	color:#fff;
	display:none;
}
.qrc div.txt{
	font-size:12px;
	text-transform: uppercase;
	text-align:center;
	font-style:italic;
}
.qrc div.txt a{
	color:#d50f26;
}
.qrc div.code {
	width:293px;
	height:293px;
	background:#fff;
	margin: 10px auto;
}
.qrc div.share{
	height:46px;
}
.qrc div.share a{
	display:block;
	float:left;
	height:46px;
	width: 167px;
}
.qrc div.share a.facebook{
	background:url(../img/faceQrc.png);
}
.qrc div.share a.twitter{
	background:url(../img/twitQrc.png);
}
#btn_play_ipad{
	position:absolute;
	width:346px:;
	height:65px;
	left:244px;
	top:202px;
	display:none;
}

/*Soporte de navegador styles*/
/*Soporte styles*/
.soporte {
	width: 832px;
	height:468px;
	background:url(../images/backInteractivo.jpg) no-repeat;
}
.soporte div.nameplate{
	width:310px;
	height:110px;
	margin:0 auto;
	position: relative;
	background:url(../images/np.png) no-repeat;
	top: 25px;
}
.soporte div.textoCompatible {
	position: relative;
	top: 40px;
}
.textoCompatible {
	text-align: center;
}
.textoCompatible h1{
	font-weight:700;
	color:#d50f26;
	font-size:25px;
	margin:0;
	text-shadow: 1px 1px rgba(0,0,0,0.75);
	text-transform: uppercase;
	font-style:italic;	
}
.textoCompatible h2{
	font-weight: 300;
	text-transform: uppercase;
	font-size:18px;
	margin:0;
	font-style:italic;	
	text-shadow: 1px 1px rgba(0,0,0,0.75);
	color:#FFFFFF;
}
.soporte div.browsers {
	width:482px;
	height: 101px;
	margin:0 auto;
	top: 20px;
	clear:both;
}
.soporte div.browsers div{
	float:left;
	position: relative;
	top:60px;
}
.soporte div.browsers div a{
	display:block;
	height:10px;
	width:120px;
	text-align:center;
	color:#FFF;
	text-transform: uppercase;
	font-style:italic;
	font-size:12px;
	padding:90px 0 0;
}
.soporte div.browsers div a.safari{
	background:url(../images/safari.png) no-repeat center top;	
}
.soporte div.browsers div a.chrome{
	background:url(../images/chrome.png) no-repeat center top;	
}
.soporte div.browsers div a.firefox{
	background:url(../images/firefox.png) no-repeat center top;	
}
.soporte div.browsers div a.explorer{
	background:url(../images/explorer.png) no-repeat center top;	
}
.soporte div.button{
	margin: 0 auto;
	width:247px;
	position:relative;
	top:100px;
}
.soporte div.button a{
	width:247px;
	height:45px;
	display:block;
	background:url(../images/sin.png) no-repeat;
}

#btn_play_pausa
{
	position:absolute;
	width:115px;
	height:27px;
	left:0px;
	top:-39px;
	background-image:url(../img/pausar.png);
	background-repeat:no-repeat;
	cursor:pointer;
	display:none;
	
}
.btn_play
{
	background-image:url(../img/reproducir.png) !important;
}
#btn_home
{
	position:absolute;
	width:169px;
	height:27px;
	right:130px;
	top:-39px;
	background-image:url(../img/regresar.png);
	background-repeat:no-repeat;
	cursor:pointer;	
	display:none;
}
.btn_home_lineal
{
	background-image:url(../img/viveExperiencia.png) !important;
}
#btn_salirCorto
{
	position:absolute;
	width:115px;
	height:27px;
	right:0px;
	top:-39px;
	background-image:url(../img/salirCorto.png);
	background-repeat:no-repeat;
	cursor:pointer;
	display:none;	
}

#aviso_priv
{
	position:absolute;
	width:230px;
	height:20px;
	right:10px;
	bottom:0px;
	text-transform:uppercase;
	color:#FFFFFF;
	font-size:11px;
}
.aviso_priv a:active,.aviso_priv a:visited,.aviso_priv a:link,.aviso_priv a:hover
{
	color:#FFFFFF;
}



#iframe_llamada
{
	position:absolute;
	width:320px;
	height:0px;
	right:0px;
	bottom:0px;
	display:none;
	z-index:999;
}


#btn_low{
	position:absolute;
	width:123px;
	height:172px;
	left:243px;
	top:171px;
	z-index:999;
	cursor:pointer;
}

#btn_high{
	position:absolute;
	width:123px;
	height:172px;
	left:438px;
	top:171px;
	z-index:999;
	cursor:pointer;
}


@media screen and (min-width:0\0) { 
	#firma2_fan { background: none; color:#252018; }
	#letrero2_fama {background: none; color:#672012; }
}
@-moz-document url-prefix() { 
	#firma2_fan { background: none; color:#252018; }
	#letrero2_fama {background: none; color:#672012; }	
}  
				  