html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: normal !important;
}
.navbar-inner{
	position: absolute !important;
	top: 0 !important;
	width: 100% !important;
	height: 62px !important;
}

/* GENERALES */
body{ background:#000; font-family: 'Open Sans', sans-serif,  sans-serif; background-image: url("../images/fondo.jpg"); background-repeat: no-repeat; background-size: cover; }
.Redondeo{-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}
.Sombreado{-moz-shadow: 0 10px 10px -6px #333; -webkit-box-shadow: 0 10px 10px -6px #333; -box-shadow: 0 10px 10px -6px #333;}
.ImgSprite{background-image: url("../images/sprite.png"); background-repeat: no-repeat; }

/*******************************************************  CUERPO  *******************************************************/	
#DivCuerpo{ margin:0 auto;  padding-bottom:30px; text-align:center; width:960px; padding-top:95px; }
/* CONTENT PRINCIPAL */
#DivcontentPrincipal{ border:12px solid #FFF; height:468px; margin:0 auto; position:relative; width:832px; z-index:51; background:url(../images/backInteractivo.jpg); }

/* FOOTER */
#DivFooter { color:#FFF; margin:0 auto; width:852px; text-align:center; text-transform: uppercase; font-size:11px; background:url(../images/footerBack.png) top no-repeat; z-index:301; position:static; text-align:center;}
#DivFooter p{ position:relative; top:60px; margin:0;}
#DivFooter p.legales{ color:#000; }
#DivFooter p.legales a{ color:#000;}

/*******************************************************  POP-UP  *******************************************************/	
/* 	OBSCURECIMIENTO DEL FONDO */	
#PopUpBig { position:absolute; height: 100%; width: 100%; background: #000; opacity:0.70; 
			filter:alpha(opacity=70); /* For IE8 and earlier */ z-index: 50; visibility:hidden; top: 0; left: 0; } 

#PopUpSmall { height:468px; background: #000; opacity:0.80; filter:alpha(opacity=80); /* For IE8 and earlier */ 
				position:absolute; visibility:hidden; width:832px; z-index: 52; left:0; top:0; } 
 
/* VENTANAS */							
#PopUpSmall_Light{ height:468px; left:0; margin:0 auto; top:0; position:absolute; visibility:hidden;  width:832px; z-index:60; }

#PopUpSmall_Dark{ height:468px; left:0; margin:0 auto; top:0; position:absolute; visibility:hidden;  width:832px; z-index:60;  }	

/*CONTENEDOR DEL VIDEO TRACK */
#DivVideoTrack{ height:468px; left:0; margin:0 auto; top:0; position:absolute;  width:832px; z-index:5; }

/* 	VIDEO LOOP INICIAL */
#DivLoop{ height:468px; left:0; margin:0 auto; top:0; position:absolute;  width:832px; z-index:10; }

/* CONTENEDOR PRINCIPAL PARA SELECCIONAR LA OPCION */
#DivPrincipalTipoConexion{ width:832px; height:468px; left:0; margin:0 auto; top:0; position:absolute; text-align:center; z-index:12; }
	#ImgCorollaInicial{ background-position: 0 0; display:inline-block; height:180px; margin:30px; margin-bottom:20px; vertical-align:top; width:468px; }		
	#TextoInicialTipoConexion { color:#FFF; text-align: center; margin-bottom:20px; }
		#TextoInicialTipoConexion h1{ font-weight:700; color:#d50f26; font-size:30px; margin:0; text-shadow: 1px 1px rgba(0,0,0,0.75); font-style:italic; }
		#TextoInicialTipoConexion h2{ font-weight: 300; text-transform: uppercase; font-size:21px; margin:0; font-style:italic;	 text-shadow: 1px 1px rgba(0,0,0,0.75); }
		#TextoInicialTipoConexion p{ text-transform: uppercase; font-size: 12px; font-weight:300px; margin:20px 0; text-shadow: 0px 1px rgba(0,0,0,0.65); }
		#TextoInicialTipoConexion span{ font-weight:800;}
	#BtnFacebook{ background-position: -468px 0; cursor:pointer; display:inline-block; height:72px; vertical-align:top; width:252px; }
	#BtnCamara{ background-position: -468px -72px; cursor:pointer; display:inline-block; height:72px; vertical-align:top; width:252px; }
	#BtnInteraccionDirecta{ background-position: -468px -144px; cursor:pointer; display:inline-block; height:62px; vertical-align:top; width:252px; }
	
	#MascaraBtnFB{margin-left:5px; margin-top:13px; width:235px; height:40px; overflow:hidden; z-index:333; opacity:0; filter:alpha(opacity=0);}
		#BtnFaceConectado{background-position: -468px 0; cursor:pointer; height:72px; position: absolute; width:252px; 
						margin-left:34px; margin-top:384px; left: 0; top: 0; visibility:hidden; z-index:51; }
		#BtnFaceLogout{ cursor:pointer; height:30px; position: absolute; width:350px; 
						margin-left:50px; margin-top:440px; left: 0; top: 0; text-align:left; visibility:hidden; z-index:51; }
			#BtnFaceLogout a{color:#FFF; font-size:13px; text-decoration:none;}
			#BtnFaceLogout a:hover{color:#3B5998;  }									
			#DivNameLogout{ display:inline-block; vertical-align:top;  border:none; color:#FFF; font-size:12px; padding-right:5px; width:auto; }
			#BtnFaceLogout i{ display:inline-block; vertical-align:top; font-size:11px; margin-top:2px; margin-left:5px;}
			#TextoFBLogout{ display:inline-block; vertical-align:top;   font-weight:bold; }
			
/* IFRAME DE LA CAMARA */				
#iFrmCamara{ background:#FFF; margin-top:30px; visibility:hidden; }	

/*******************************************************  SCROLL - AVISO PRIVACIDAD  *******************************************************/	
.jspContainer{overflow: hidden;position: relative;}
.jspPane {position: absolute; }
.jspVerticalBar{position: absolute;top: 0;right: 0; width: 10px;height: 100%;}
.jspHorizontalBar{position: absolute;bottom: 0;left: 0;width: 100%;height: 16px;}
.jspVerticalBar *,.jspHorizontalBar *{margin: 0;padding: 0;}
.jspCap{ display: none; }
.jspHorizontalBar .jspCap{float: left;}
.jspTrack{background: #e3e2e2;position: relative;-webkit-border-radius:18px;-moz-border-radius:18px;-o-border-radius:18px;border-radius:18px;}
/* BARRA */
.jspDrag{background: #666;position: relative;top: 0;left: 0;cursor: pointer;-webkit-border-radius:18px;-moz-border-radius:18px;-o-border-radius:18px;border-radius:18px;}
.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag{ float: left; height: 100%;}
.jspArrow{background: #50506d;text-indent: -20000px;display: block;cursor: pointer;}
.jspArrow.jspDisabled{cursor: default; background: #0376a6;}
.jspVerticalBar .jspArrow{ height: 16px; }
.jspHorizontalBar .jspArrow{width: 16px; float: left; height: 100%;}
.jspVerticalBar .jspArrow:focus{ outline: none; }
.jspCorner{background: #eeeef4;float: left;height: 100%; }
* html .jspCorner{ margin: 0 -3px 0 0; }

.ContAvisoPrivacidad { height:438px; padding-top:30px; width:832px; }
.ContAvisoPrivacidad div.rgh div.txt{ background: #FFF; margin:0 auto; padding:30px; padding-top:0; -webkit-border-radius:10px; -moz-border-radius:10px; -o-border-radius:10px; border-radius:10px;	 width:600px; }
.ContAvisoPrivacidad div.rgh div.txt div.scroll{ height:320px;text-align:justify; padding:10px;}

#AvisoPrivacidad{ height:468px; left:0; top:0; position:absolute; visibility:hidden; width:832px; z-index:90; }
	#TextAvisoPrivacidad{ height:1000px; }
		#TextAvisoPrivacidad h1{ color:#333; font-size:14px; font-weight:bold; margin-bottom:10px; }
		#TextAvisoPrivacidad p{ color:#666; font-size:13px; line-height:15px; }
	#ContClosePopUp{ margin-bottom:10px; margin-left:90px; width:90%; }
		#BtnClose{ background-position: -432px -180px; cursor:pointer; height:36px; width:36px;}

/* CONTENEDOR DE OPCIONES CON AJAX */		
#Content_Opciones{ left:0; top:0; position:absolute; margin-left:70px; margin-top:30px; visibility:hidden;  z-index:80;  }																

/* CONTENEDOR DE OPCIONES CON AJAX */		
#Content_Loading{  left:0; top:0; position:absolute; visibility:hidden;  z-index:80; background:#0C0;  }														
/*#coche-corolla {
  position: absolute;
  left: 50%;
  margin-left: -88.5px;
  bottom: 0;
  z-index: 0;
}*/

/*navbar*/
.navbar-inverse .navbar-inner {
  background-color: rgba(0, 0, 0, .8);
  background-image: none;
  border-color: #df0000;
  border-bottom-width: 2px;
}

.navbar-inner {
  min-height: 60px;
}

.navbar-inverse .navbar-text {
  padding: 14.5px 0;
  line-height: 31px;
}

.navbar .brand {
  text-indent: -9000px;
  background: transparent url(/css/img/logo-toyota.png) no-repeat center center;
  width: 150px;
  height: 35px;
  padding: 13.5px 0 13.5px 25px;
}

#logo-toyota {
  text-indent: -9999px;
  background: transparent url(/css/img/logo-toyota.png) no-repeat center center;
  width: 140px;
  padding: 0 30px 0 0;
}
.navbar .nav > li {
  line-height: 62px;
}

.navbar .nav > li > a {
  padding: 0 5px;
  line-height: 62px;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
  color: #df0000;
  background-color: transparent;
  text-shadow: none;
}
.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: #df0000;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  box-shadow: none;
}

#footer {
  position: relative;
  margin-top: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Century Gothic', sans;
}

#footer-center {
  position: absolute;
  left: 50%;
  margin-left: -88.5px;
  margin-top: -50px;
}

#footer-left, #footer-right {
  border-top: 2px solid #d31126;
  height: 41px;
  width: 40%;
  background: transparent url(../images/bg-footer.png) repeat-x 0 0;
}

#footer-left {
  float: left;
}

#footer-right {
  float: right;
}
#footer ul {
  list-style-type: none;
  line-height: 41px;
  float: right;
}
#footer ul li {
  display: inline-block;
  margin-right: 20px;
}

#footer ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

#footer a#footer-home {
   background: transparent url(../images/bg-footer-home.png) no-repeat center right;
   padding-right: 30px;
}

#footer a#footer-facebook,
#footer a#footer-twitter {
  text-indent: -9000px;
  width: 30px;
  height: 22px;
  background: transparent url(../images/sprite-menu.png) no-repeat 0 0;
}

#footer a#footer-facebook {
  background-position: -36px 0;
}

#footer ul li a:hover {
  color: #fff;
}


@media (max-width: 979px) {
  #DivCuerpo {
    padding-top: 0;
  }
}