vendor
node_modules
public/storage/debugbar
public/storage/framework
public/storage/logs
laravel/storage/logs/laravel.log
Homestead.yaml
Homestead.json
.env

.DS_Store
.sass-cache/*
*.sublime-*
.sass-cache
*.crt
*.key
git-log.txt
laravel/storage/email-previews/
main.css.map
.env.testing
deploy.sh
