vendor
node_modules
laravel/storage/debugbar
laravel/storage/framework
laravel/storage/logs
laravel/storage/email-previews
Homestead.*
.env
.env.testing
.DS_Store
.sass-cache
*.sublime-*
*.crt
*.key
git-log.txt
main.css.map
deploy.sh
