body{ background: url(../images/fondo.jpg) repeat-x; margin: 0px; padding: 0px;}

.container{ position: relative; width: 720px; margin: 0 auto; padding: 0; height: 100%; overflow: hidden;}

.header{ background: url(../images/cover.png) no-repeat bottom; height: 650px; overflow: hidden;}

.header nav{ display: table; width: 100%;}
.header nav ul{ display: table-row; margin: 0px; padding: 0px; width: 100%;}
.header nav ul li{ display: table-cell; height: 56px; text-align: center; vertical-align: middle; width: 33%;}
.header nav ul li:first-child{ border-right: 1px solid #e5e5e5;}
.header nav ul li a{ color: #585d65; display: block; font-size: 15px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 700; text-transform: uppercase; text-decoration: none;}
.header nav ul li:hover, .header nav ul li.activo{ }
.header nav ul li:hover a, .header nav ul li.activo a{ color: #cc0033;}
.header nav ul li.prueba{ background: #cc0033;}
.header nav ul li.prueba a{ color: #fff;}
.logo{ background: url(../images/logo.png) no-repeat; display: block; height: 64px; margin: 3em auto; width: 272px;}
.header h2{ color: #2f3438; display: table; font-size: 56px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 700; margin: 1em auto; text-align: center;}
.header h2 span{ display: block; font-size: 19px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400;}
.header img{ display: block; height: auto; margin-top: -235px; width: 100%;}

.btnprueba{ color: #2f3438; float: right; font-size: 18px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400; margin-top: 230px; padding-left: 40px; position: relative; text-decoration: none;}
.btnprueba::before{ content: url(../images/btnPrueba.png); left: 0px; position: absolute; top: 0px;}

.video{ display: block; height: 510px; margin: auto; width: 680px;}

.contVideos{ margin: 20px 0px 0px;}
.contVideos a{ display: inline-block; margin: 14px;}

.contVehiculo{ overflow: hidden; position:relative;}

.coches{ overflow: hidden; width: 100%;}
.coches .menu{ display: table; width: 100%;}
.coches .menu ul{ display: table; margin: 0px; padding: 0px; width: 100%;}
.coches .menu ul li{ background: #2f3438; cursor: pointer; display: table-cell; height: 60px; position: relative; vertical-align: middle; width: 25%;}
.coches .menu ul li::before{ background: #fff; content: " "; height: 30px; position: absolute; top: 50%; right: 0px; -webkit-transform: translate(0,-50%); -moz-transform: translate(0,-50%); -o-transform: translate(0,-50%); -ms-transform: translate(0,-50%); transform: translate(0,-50%); width: 1px;}
.coches .menu ul li:last-child::before{ display: none;}
.coches .menu ul li span{ color: #fff; display: table; font-size: 14px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 700; margin: auto; text-align: center;}
.coches .menu ul li:hover, .coches .menu ul li.activo{ background: #cc0033;}
.coches .menu img{ display: block; float: left; height: auto; width: 25%;}

.autos{ overflow: hidden; width: 100%;}
.autos > img{ display: block; height: auto; width: 100%;}
.autos > div > img{ display: block; float: left; height: auto; width: 25%;}

.hibridos{ display: none; overflow: hidden; width: 100%;}
.hibridos > img{ display: block; height: auto; width: 100%;}
.hibridos > div > img{ display: block; float: left; height: auto; width: 25%;}

.minivans{ display: none; overflow: hidden; width: 100%;}
.minivans > img{ display: block; height: auto; width: 100%;}
.minivans > div > img{ display: block; float: left; height: auto; width: 25%;}

.comerciales{ display: none; overflow: hidden; width: 100%;}
.comerciales > img{ display: block; height: auto; width: 100%;}
.comerciales > div > img{ display: block; float: left; height: auto; width: 25%;}

.textPrueba{ overflow: hidden; width: 100%;}
.textPrueba h2{ color: #2f3438; font-size: 38px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 700; margin: 1em auto 0px; text-transform: uppercase;}
.textPrueba p{ color: #2f3438; font-size: 18px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400; margin: 1em auto;}

.contPrueba{ overflow: hidden; width: 100%;}

.contPrueba form{ margin: 1em auto; overflow: hidden; width: 100%;}
.contPrueba form input[type="text"]{ background: none; border: 1px solid #000; color: #585d65; font-size: 14px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400; margin: 10px auto; padding: 5px 10px; width: 97%;}
.contPrueba form input::-webkit-input-placeholder{ color: #585d65; font-size: 14px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400;}
.contPrueba form input:-moz-placeholder{ color: #585d65; font-size: 14px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400;}
.contPrueba form input::-moz-placeholder{ color: #585d65; font-size: 14px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400;}
.contPrueba form input:-ms-input-placeholder{ color: #585d65; font-size: 14px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400;}
.contPrueba form label{ color: #2f3438; display: block; font-size: 14px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400; font-style: italic; margin: 1em auto; text-transform: uppercase;}
.contPrueba form input:focus { outline-width: 0;}
.contPrueba form div.selectBox { background:#fff url(../images/select.png) 98% no-repeat; border: 1px solid #000; height: 32px; margin: 20px 0px; position: relative; width: 99.6%;}
.contPrueba form div.selectBox div.box { color: #585d65; font-size: 14px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400; position: absolute; padding: 9px 10px; overflow: hidden; width: 94%;}
.contPrueba form div.selectBox select { border: 1px solid #036; cursor: pointer; height: 34px; left: -1px; position: absolute; opacity: 0; filter: alpha(Opacity=0);	-moz-opacity: 0; top: -1px; width: 100%; z-index:100;}
.contPrueba form div.selectBox select option{ color: #036; cursor: pointer; border-bottom: 1px solid #eee; font-size: 11px; padding: 4px;}

.contPrueba form input[type="submit"], .contPrueba form input[type="button"]{ cursor:pointer;background: #d71a22; border: none; color: #2f3438; display: block; font-size: 20px; font-family: 'HelveticaNeue'; height: 40px; margin: 20px auto; text-align: center; text-transform: uppercase; width: 120px;}

.textGracias{ background: #000!important; padding-top: 30px;}
.textGracias h2{ border-left: 5px #d71a22 solid; color: #fff; font-size: 46px; font-family:Verdana, Geneva, sans-serif; font-weight: bold; margin-bottom: 80px; padding-left: 25px;}
.textGracias div{ background: #c9151c; margin: 0px -20px; overflow: hidden;}
.textGracias div p{ border-bottom: 10px solid #fff; border-top: 10px solid #fff; color: #fff; font-size: 24px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400; margin: 10px 0px; padding: 50px 0px; text-align: center;}
.textGracias a{  background: #c9151c; display: table; color: #fff; font-size: 20px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400; margin: 80px auto; padding: 10px 20px; text-transform: uppercase; text-decoration: none;}

.redes{ background: #c9151c; display: table; height: 41px; width: 100%;}
.redes a{ color: #fff; display: table-cell; font-size: 18px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400; text-align: center; text-decoration: none; vertical-align: middle; width: 33%;}
.redes a:nth-of-type(4){ display: none;}
.redes a i{ margin-right: 5px; font-size: 20px;}

.telefonos{ display: table; margin: 20px auto; width: 50%;}
.telefonos a{ color: #585d65; display: table-cell; font-size: 18px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400; text-align: center; text-transform: uppercase; text-decoration: none; vertical-align: middle; width: 50%;}
.telefonos img{ display: block; margin: auto;}

.derechos{ border-bottom: 1px #d2d2d2 solid; color: #585d65; font-size: 13px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400; padding-bottom: 15px; text-align: center; text-transform: uppercase;}

.terminos{ display: table; height: 45px; margin: auto; width: 60%;}
.terminos a{ color: #585d65; display: table-cell; font-size: 13px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 400; text-align: center; text-decoration: none; vertical-align: middle; width: 33%;}

/* Galeria */

.galeria{ overflow: hidden;}
.galeria h2{ color: #2f3438; font-size: 38px; font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; font-weight: 700; margin: 20px 0px; text-transform: uppercase;}

.galeria .bx-wrapper { margin-bottom: 0px;}
.galeria .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { bottom: -30px; position: absolute; width: 100%;}

.galeria #bx-pager { padding-top: 20px; padding-bottom: 30px; text-align: center;}
.galeria #bx-pager a { margin: 0 3px;}
.galeria #bx-pager a img { border: solid #ccc 1px; padding: 3px;}
.galeria #bx-pager a:hover img, .galeria #bx-pager a.active img { border: solid #d71a22 1px;}

/* Galeria */