.image--manager
  .form--horizontal.delete--form
    position: relative
    .delete--form__deleteBtn
      background: url( '/img/x.png' ) no-repeat scroll center center transparent
      &:hover
        background-image: url( '/img/x-hover.png' )