#AuthType Basic
#AuthName "bloqueo"
#AuthUserFile /var/www/html/Rav4/ci/.htpasswd
#Require valid-user


RewriteEngine on
RewriteCond $1 !^(index\.php|assets|downloads|robots\.txt|favicon\.ico)
RewriteRule ^(.*)$ /index.php/$1 [L]
#php_value date.timezone 'America/Mexico_City'
