/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	list-style:none;
}

body {
	font-family: 'Open Sans', sans-serif;
	color:#333;
}
.inicio {
	text-align:center;
	color:#fff;
}
.inicio div.nameplate{
	padding:20px 0 0;
}
.inicio h1{
	font-weight:300;
	font-size:25px;
	text-transform:uppercase;
	font-style:italic;
	position: relative;
	width:239px;
	height:79px;
	margin:10px auto;
}
.inicio div.icono {
	width:84px;
	height:96px;
	position: relative;
}
.inicio a {
	display:block;
	margin:20px 0;
}
#video_div
{
	position:absolute;
	width:282px;
	height:490px;
	left:50%;
	margin-left:-141px;
	top:0px;
	display:none;
}


.form div.head {
	width:100%;
	background:#e8e8e8;
	padding:5px 0;
}
.form div.head div.nameplate{
	width:246px;
	height:32px;
	margin:0 auto;
}
.form div.head h1{
	font-weight:300;
	font-size:14px;
	text-transform: uppercase;
	font-style: italic;
	text-align:center;
	margin:5px 0 0;
}
.form div.head p{
	font-size:11px;
	text-align:center;
	font-weight:300;
	text-transform: uppercase;
	font-style: italic;
	text-align:center;
}
.form form h1 {
	text-align: center;
	font-size:10px;
	margin:10px 0;
}
.form form input[type="text"] {
	width:90%;
	margin:5px 10px 5px;
	background: #fff;
	border: none;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	color: #9a9696;
	padding:5px;
	-webkit-border-radius: 10px;
	border-radius: 10px;	
}
.form form input[type="button"] {
	width:165px;
	height:37px;
	margin:10px 75px;
	background:url(../images/enviar.jpg);
	text-indent:-999999px;
	border:none;
	-webkit-background-size: 165px 37px;
	-moz-background-size: 165px 37px;
	-o-background-size: 165px 37px;
	background-size: 165px 37px;	
}

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 95%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 15px; height: 30px; margin: 0px 5px 0; display: block; background: url(../images/arrows.png) no-repeat 0 0; position: absolute; top: 200px; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;
-webkit-background-size: 29px 30px;
	-moz-background-size: 29px 30px;
	-o-background-size: 29px 30px;
	background-size: 29px 30px;	
}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: relative; text-align: center; margin:-10px 0 0}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 15px; height: 15px; display: block; background: #fff; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; border:3px solid #d5d5d5; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #fff; }
.flex-control-paging li a.flex-active {cursor: default; border:3px solid #959595 }


#nav1{ background:#000000; }
#nav2{ background:#e51616; }
#nav3{ background:#727272; }
#nav4{ background:#ffffff; }
#nav5{ background:#b68604; }
#nav6{ background:#375ba2; }
#nav7{ background:#e1e1e1; }

/* Gracias */
.gracias {
	text-align: center;
}
.gracias h1{
	text-transform:uppercase;
	font-weight:300;
	font-style:italic;
	font-size:20px;
	margin:50% 0 0;
}
.gracias h2{
	text-transform:uppercase;
	font-weight:300;
	font-style:italic;
	font-size:15px;
}
/* mobile*/
.inicio h2 {
	font-size:18px;
	font-weight:300;
	text-transform: uppercase;
	font-style:italic;
	font-family: 'Open Sans', sans-serif;
}
.inicio p {
	font-size:10px;
	font-weight:300;
	text-transform: uppercase;
	font-style:italic;
	margin:10px 0;
	font-family: 'Open Sans', sans-serif;
}
.inicio div.video {
	margin:10px;
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
